# Python
venv/
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
dist/
build/

# Alembic
migrations/versions/*.py

# PostgreSQL
*.sql

# VS Code
.vscode/

# Node
node_modules/
.next/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage

# Next.js
frontend/public-web/.next/
frontend/public-web/node_modules/